* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    min-height: 100%;
    color: gold;
}

#root {
    background-color: hsl(248, 70%, 36%);
    padding-left: 1rem;
    padding-right: 1rem;
}