* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    min-height: 100%;
    color: hsl(0, 0%, 100%);
    font-family: "Bricolage Grotesque", sans-serif;
    background-color: hsl(243, 96%, 9%);
}

#root {
    background-color: hsl(243, 96%, 9%);
    padding-left: 1rem;
    padding-right: 1rem;
}