.button1 {
  background-color: hsl(243, 27%, 20%);
  border-color: hsl(243, 27%, 20%);
  color: hsl(250, 6%, 84%);
  font-family: "Bricolage Grotesque", sans-serif;
}

.button1:hover,
.button1:focus {
  background-color: hsl(243, 23%, 24%);
  border-color: hsl(243, 23%, 24%);
}

.generic-message {
    font-family: "DM Sans", sans-serif;
    font-weight: 1000;
    font-size: 3rem;
    text-align: center;
}

.searchIconWrap,
.searchInput {
  background-color: hsl(243, 27%, 20%);
  border-color: hsl(243, 27%, 20%);
  color: hsl(250, 6%, 84%);
  font-family: "Bricolage Grotesque", sans-serif;
}

.searchIconWrap {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.searchInput {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.searchInput:focus {
  background-color: hsl(243, 27%, 20%);
  border-color: hsl(243, 27%, 20%);
  color: hsl(250, 6%, 84%);;
  box-shadow: none;
  outline: none;
  font-family: "Bricolage Grotesque", sans-serif;
}

.searchInput::placeholder {
  color: hsl(250, 6%, 84%);
  opacity: 1;
}

.button2 {
  background-color: hsl(233, 67%, 56%);
  border-color: hsl(233, 67%, 56%);
  color: hsl(250, 6%, 84%);
  font-family: "Bricolage Grotesque", sans-serif;
}

.button2:hover,
.button2:focus {
  background-color: hsl(248, 70%, 36%);
  border-color: hsl(248, 70%, 36%);
}

.overview {
  background: url("../assets/bg-today-small.svg") center / cover no-repeat;
  aspect-ratio: 343 / 286;
  border-radius: 20px;
  font-weight: 1000;
  font-size: 3.5rem;
}

.overviewWidth {
  width: 100%;
}

@media (min-width: 992px) {
  .overviewWidth {
    width: 100%;

  .hourlySidebar {
    position: sticky;
    top: 2rem;
  }
    
  }

   .overviewDetailsWidth {
    width: 100%;
   }

  .overview {
    aspect-ratio: auto;
    height: auto;
  }

  .forecastRow {
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .forecastRow > :global(.col-lg) {
    flex: 0 0 calc(100% / 7);
    max-width: calc(100% / 7);
  }
}


.overview-title {
    font-weight: 1000;
    font-size: 1.5rem;
}

.overview-text {
    font-weight: 100;
    font-size: small;
}

.overview-details {
    background-color: hsl(243, 27%, 20%);
    color: hsl(250, 6%, 84%);
}
.overviewDetailsWidth {
  width: 100%;
}

.hourly-details {
    background-color: hsl(243, 27%, 20%);
    color: hsl(250, 6%, 84%);
    font-size: small;
    font-weight: 1000;
}

.button3 {
  background-color: hsl(243, 23%, 30%);
  border-color: hsl(243, 23%, 30%);
  color: hsl(250, 6%, 84%);
  font-family: "Bricolage Grotesque", sans-serif;
}

.button3:hover,
.button3:focus {
  background-color: hsl(243, 23%, 30%);
  border-color: hsl(243, 23%, 24%);
}

.hourly-details-2 {
    background-color: hsl(243, 23%, 30%);
    color: hsl(250, 6%, 84%);
    font-size: small;
    font-weight: 1000;
    padding-right: 1rem;
}
